*{
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: #841617;
    margin: 0;
    padding: 0;
}

.side_menu {
    position: fixed;
    width: 350px;
    background-color: #FDF9D8;
    height: 100%;
}

.side_menu a {
    line-height: 100px;
    color: #841617;
    font-weight: bold;
    font-size: 25px;
    margin-left: 80px;
}

.hover_effect:hover {
    font-size: 27px;
    border-bottom: solid black;
}

.yOUr_Money_Logo {
    width: 300px;
    margin-left: 18px;
    margin-top: 15px;
    padding-bottom: 125px;
}

/* Accounts */

.accounts_box {
    position: fixed;
    margin-left: 550px;
    margin-top: 300px;
    width: 350px;
    height: 270px;
    background-color: #FDF9D8;
    border-radius: 10px;
}

.accounts_header {
    padding-left: 97px;
    padding-top: 7px;
    border-bottom: 3px solid black;
}

.accounts {
    background-color: #FDF9D8;
    margin-top: 30px;
    margin-left: 52px;
    font-size: 21px;
    line-height: 30px;
}

.accounts a {
    color: #841617;
    font-weight: bold;
    line-height: 23px;
}

.accounts_hover:hover {
    color: #c73537;
}

/* ------------------- */

/* Balance */

.balance_box {
    position: fixed;
    margin-left: 1050px;
    margin-top: 365px;
    width: 500px;
    height: 125px;
    background-color: #FDF9D8;
    border-radius: 10px;
}

.balance_header {
    padding-left: 180px;
    padding-top: 7px;
    border-bottom: 3px solid black;
}

.balance {
    padding-left: 15px;
    padding-top: 20px;
}

/* ------------------- */